<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>

    <script> function createOrder() {
        let popupOrder = document.querySelector('.createOrder');
        popupOrder.classList.toggle('activ')
    }</script>
    <style>
        .createOrder {
            visibility: hidden;
        }

        .createOrder.activ {
            visibility: visible;
            opacity: 1;
            transition: 0.5s;
        }
    </style>
</head>
<body>
<h1>Cart</h1>
<div th:each="order : ${orderLines}">

    <p th:text="'Product name: ' + ${order.getProduct()()}"></p>
    <p th:text="'Price: ' + ${order.getPrice()}"></p>
    <p th:text="'Quantity: '+${order.getQuantity()}"></p>
</div>


<!--<button onClick=createOrder()>Order</button>-->
<!--<div class="createOrder">-->
<!--    <form th:action="@{/cart}" method="POST" th:object="${orderLine} ">-->
<!--        <hi>Order resume</hi>-->
<!--        <fieldset>-->
<!--&lt;!&ndash;            <div th:object="${Product}">&ndash;&gt;-->
<!--&lt;!&ndash;                <label>Product Name:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <p th:text="*{product}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--            <label>Name:</label>-->
<!--            <div th:each="order:${orderLine}">-->
<!--                <p th:text="${order.product}"></p>-->
<!--            </div>-->
<!--&lt;!&ndash;            <label>Username: </label>&ndash;&gt;-->
<!--&lt;!&ndash;            <p th:text="*{username}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;            <label> Total amount: </label>&ndash;&gt;-->
<!--&lt;!&ndash;            <p th:text="*{totalPrice}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;            <label> Adress: </label>&ndash;&gt;-->
<!--&lt;!&ndash;            <p th:text="*{address}"></p>&ndash;&gt;-->

<!--            <button type="submit">Submit order</button>-->
<!--        </fieldset>-->
<!--    </form>-->
<!--</div>-->

</body>
</html>