<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments::headerFragment">
    <meta charset="UTF-8">
    <title>Cart</title>

<!--    <script> function createOrder() {-->
<!--        let popupOrder = document.querySelector('.createOrder');-->
<!--        popupOrder.classList.toggle('activ')-->
<!--    }</script>-->
<!--    <style>-->
<!--        .createOrder {-->
<!--            visibility: hidden;-->
<!--        }-->

<!--        .createOrder.activ {-->
<!--            visibility: visible;-->
<!--            opacity: 1;-->
<!--            transition: 0.5s;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
<div th:insert="fragments::navbar">
<div th:insert="fragments::menu"></div>
<h1>Cart</h1>


<div th:each="UsersOrders : ${orderLines}">
    <p th:text="'Name: ' + ${UsersOrders.getProduct()}"></p>
    <p th:text="'Price: ' + ${UsersOrders.getPrice()}"></p>
    <p th:text="'Quantity: '+ ${UsersOrders.getQuantity()}"></p>
</div>

<form th:action="@{cart}" method="post">
<button   th:href="@{order_summary}" type="submit">Submit order!</button>
</form>

</div>



</body>
</html>