<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerFragment">

    <meta charset="UTF-8">

    <title>Kamil's Online Bookstore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="osa-application/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="navbar">
<div class="jumbotron text-center">
    <h1>My First Bootstrap Page</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>
</div>
<div th:fragment="menu" >
<div style="display: flex">
    <form th:action="@{/products}" style="margin: 5px">
        <input type="submit" value="Products"/>
    </form>
    <form th:action="@{/users}" style="margin: 5px">
        <input type="submit" value="Users"/>
    </form>
    <form th:action="@{/cart}" style="margin: 5px">
        <input type="submit" value="Cart"/>
    </form>
</div>
    <form th:action="@{/logout}" method="POST" style="float: right">
        <input type="submit" value="Logout"/>
    </form>

</div>

</body>
</html>