<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments::header"></div>
    <meta charset="UTF-8">
    <title>Title</title>


    <script> function updateProduct() {
        let popupProduct = document.querySelector('.updateProduct');
        popupProduct.classList.toggle('activ')
    }


    $(document).ready(function(){
        var quantity = 1;

        $('.quantity-right-plus').click(function(e){
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());
            $('#quantity').val(quantity + 1);
        });

        $('.quantity-left-minus').click(function(e){
            e.preventDefault();
            var quantity = parseInt($('#quantity').val());
            if(quantity > 1){
                $('#quantity').val(quantity - 1);
            }
        });

    });
    </script>
    <style>
        .addProduct {
            visibility: hidden;
        }

        .addProduct.activ {
            visibility: visible;
            opacity: 1;
            transition: 0.5s;
        }
    </style>
</head>
<body>
<div th:insert="fragments::navbar"></div>

<!--<div  th:object="${product_details}">-->
<!--    <p th:text="'Title: ' + ${product_details.getTitle()}"></p>-->
<!--&lt;!&ndash;    <p th:text="'Author: ' + ${product_details.getAuthor()}"></p>&ndash;&gt;-->
<!--    <p th:text="'Price: ' + ${product_details.getPrice()}"></p>-->
<!--    <p th:text="'Description: ' + ${product_details.getDescription()}"></p>-->
<!--    <a th:href="@{/products}">Back</a>-->

<!--</div>-->

<div class="container" th:object="${product_details}">
    <div class="row">
        <!-- Image -->
        <div class="col-12 col-lg-6">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <a href="" data-toggle="modal" data-target="#productModal">
                        <img class="img-fluid" src="https://dummyimage.com/800x800/55595c/fff" />

                    </a>
                </div>
            </div>
        </div>

        <!-- Add to cart -->
        <div class="col-12 col-lg-6 add_to_cart_block">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <p class="title" th:text="${product_details.getTitle()}"></p>
                    <p class="price"  th:text="${product_details.getPrice()}"></p>
                    <form  th:action="@{/products/details/{title}/addToChart (title=${product_details.title})}" method="post" th:object="${orderLineForm}">

                            <div class="form-group">
                            <label>Quantity :</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="number" th:field="*{quantity}" class="form-control"  id="quantity" name="quantity" min="1" max="100" value="1">
                                <div class="input-group-append">
                                    <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn-success"><a class="btn btn-success btn-lg btn-block text-uppercase"><i class="fa fa-shopping-cart"></i> Add To Cart</a></button>

                    </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Description -->
        <div class="col-12">
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-align-justify"></i> Description</div>
                <div class="card-body">
                    <p class="card-text">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                    </p>
                    <p class="card-text">
                        Contrairement à une opinion répandue, le Lorem Ipsum n'est pas simplement du texte aléatoire. Il trouve ses racines dans une oeuvre de la littérature latine classique datant de 45 av. J.-C., le rendant vieux de 2000 ans. Un professeur du Hampden-Sydney College, en Virginie, s'est intéressé à un des mots latins les plus obscurs, consectetur, extrait d'un passage du Lorem Ipsum, et en étudiant tous les usages de ce mot dans la littérature classique, découvrit la source incontestable du Lorem Ipsum. Il provient en fait des sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" (Des Suprêmes Biens et des Suprêmes Maux) de Cicéron. Cet ouvrage, très populaire pendant la Renaissance, est un traité sur la théorie de l'éthique. Les premières lignes du Lorem Ipsum, "Lorem ipsum dolor sit amet...", proviennent de la section 1.10.32.
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>
</div>
<!--<button   onClick=updateProduct()>Update product</button></div>-->
<!--<div class="updateProduct">-->
<!--    <form th:action="@{/products/details/{title}/update (title=${product_details.title})}" method="post" th:object="${product_details}">-->
<!--        <h1>Update product</h1>-->

<!--        <fieldset>-->
<!--            <label>Title: </label>-->
<!--            <p th:text="*{title}"></p>-->
<!--            <input id="title" type="text" th:field="*{title}">-->
<!--            <p th:if="${#fields.hasErrors('title')}"-->
<!--               th:text="${#fields.errors('title')}"></p>-->


<!--            <label for="description">Description: </label>-->
<!--            <input id="description" type="text" th:field="*{description}" >-->
<!--            <p th:if="${#fields.hasErrors('description')}"-->
<!--               th:text="${#fields.errors('description')}"></p>-->

<!--            <label for="price">Price: </label>-->
<!--            <input id="price" type="text" th:field="*{price}">-->
<!--            <p th:if="${#fields.hasErrors('price')}"-->
<!--               th:text="${#fields.errors('price')}"></p>-->

<!--            <label for="image">Image: </label>-->
<!--            <input id="image" type="file" th:field="*{image}">-->

<!--&lt;!&ndash;            <label for="author">Pick an author :</label>&ndash;&gt;-->
<!--&lt;!&ndash;            <select id="author" name="author" th:type="text" th:field="*{authorName}">&ndash;&gt;-->
<!--&lt;!&ndash;                <option value="">Select author</option>&ndash;&gt;-->
<!--&lt;!&ndash;                <option th:each="author : ${authors}"&ndash;&gt;-->
<!--&lt;!&ndash;                        th:text="${author.name}"&ndash;&gt;-->
<!--&lt;!&ndash;                        th:value="${author.name}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;            </select>&ndash;&gt;-->


<!--            <label for="type">Pick type :</label>-->
<!--            <select id="type" name="productType" >-->
<!--                <option value="">Select type</option>-->
<!--                <option th:each="type:${T(pl.osa.osaapplication.model.ProductType).values()}"-->
<!--                        th:value="${type.name()}"-->
<!--                        th:text="${type.name()}"></option>-->
<!--            </select>-->
<!--            <button type="submit">Update product</button>-->
<!--        </fieldset>-->
<!--    </form>-->
<!--</div>-->
<!--<a  th:href="@{/products/details/{title}/remove (title=${product_details.title})}">Delete product</a>-->
<!--<form th:action="@{/products/details/{title}/addToChart (title=${product_details.title})}" method="post" th:object="${orderLineForm}">-->

<!--        <label for="quantity">Q: </label>-->
<!--        <input id="quantity1" type="number" th:field="*{quantity}" >-->
<!--    <input type="submit">-->

<!--</form>-->
<button onclick="increment()">+</button>
<button onclick="decrement()">-</button>
<script>
    function increment(){
        document.getElementById('quantity').stepUp();

    }
    function decrement(){
        document.getElementById('quantity').stepDown();
    }
</script>
<div th:insert="fragments::footer"></div>

</body>
</html>