<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script> function addProduct() {
        let popupProduct = document.querySelector('.addProduct');
        popupProduct.classList.toggle('activ')
    }</script>
    <style>
        .addProduct {
            visibility: hidden;
        }

        .addProduct.activ {
            visibility: visible;
            opacity: 1;
            transition: 0.5s;
        }
    </style>
</head>
<body>

<div th:insert="fragments::menu"></div>
<button onClick=addProduct()>Add product</button>
<div class="addProduct">
    <form th:action="@{/products/addProduct}" method="POST" th:object="${productForm}">
        <hi>Sign up</hi>
        <fieldset>
            <label for="title">Title: </label>
            <input id="title" type="text" th:field="*{title}">
            <p th:if="${#fields.hasErrors('title')}"
               th:text="${#fields.errors('title')}"></p>


            <label for="description">Description: </label>
            <input id="description" type="text" th:field="*{description}" >
            <p th:if="${#fields.hasErrors('description')}"
               th:text="${#fields.errors('description')}"></p>

            <label for="price">Price: </label>
            <input id="price" type="text" th:field="*{price}">
            <p th:if="${#fields.hasErrors('price')}"
               th:text="${#fields.errors('price')}"></p>

            <label for="image">Image: </label>
            <input id="image" type="file" th:field="*{image}">

            <label for="author">Pick an author :</label>
            <select id="author" name="author" th:type="text" th:field="*{authorName}">
                <option value="">Select author</option>
                <option th:each="author : ${authors}"
                th:text="${author.name}"
                th:value="${author.name}"></option>
            </select>


            <label for="type">Pick type :</label>
            <select id="type" name="productType" >
                <option value="">Select type</option>
                <option th:each="type:${T(pl.osa.osaapplication.model.ProductType).values()}"
                        th:value="${type.name()}"
                        th:text="${type.name()}"></option>
            </select>
            <button type="submit">Add product</button>
        </fieldset>
    </form>
</div>

<h1>Products</h1>

<div th:each="product : ${products}">
    <p th:text="'Title: ' + ${product.getTitle()}"></p>
    <p th:text="'Description: ' + ${product.getDescription()}"></p>
    <a th:href="@{/products/details/{title} (title=${product.title})}">More details</a>
</div>


</div>
</body>
</html>