<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <title>Kamil's Online Bookstore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--    <link rel="stylesheet" href="osa-application/css/bootstrap.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <script> function addProduct() {
        let popupProduct = document.querySelector('.addProduct');
        popupProduct.classList.toggle('activ')
    }</script>
    <style>
        .addProduct {
            visibility: hidden;
        }

        .addProduct.activ {
            visibility: visible;
            opacity: 1;
            transition: 0.5s;
        }
    </style>
</head>
<body>

<!--<pre>-->
<!--Logged user: <span sec:authentication="name">Bob</span>-->
<!--Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>-->
<!--</pre>-->

<!--<div th:insert="fragments::menu"></div>-->
<div th:insert="fragments::navbar"></div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <button   onClick=addProduct()>Add product</button></div>
<div class="addProduct">
    <form th:action="@{/products/addProduct}" method="POST" enctype="multipart/form-data" th:object="${productForm}">
        <hi>Sign up</hi>
        <fieldset>
            <label for="title">Title: </label>
            <input id="title" type="text" th:field="*{title}">
            <p th:if="${#fields.hasErrors('title')}"
               th:text="${#fields.errors('title')}"></p>


            <label for="description">Description: </label>
            <input id="description" type="text" th:field="*{description}">
            <p th:if="${#fields.hasErrors('description')}"
               th:text="${#fields.errors('description')}"></p>

            <label for="price">Price: </label>
            <input id="price" type="text" th:field="*{price}">
            <p th:if="${#fields.hasErrors('price')}"
               th:text="${#fields.errors('price')}"></p>


            <label for="image">Image: </label>
            <input id="image" type="file" name="image" th:field="*{image}"/>
            <p th:if="${#fields.hasErrors('image')}"
               th:text="${#fields.errors('image')}"></p>


            <label for="author">Pick an author :</label>
            <select id="author" name="author" th:type="text" th:field="*{authorName}">
                <option value="">Select author</option>
                <option th:each="author : ${authors}"
                        th:text="${author.name}"
                        th:value="${author.name}"></option>
            </select>


            <label for="type">Pick type :</label>
            <select id="type" name="productType">
                <option value="">Select type</option>
                <option th:each="type:${T(pl.osa.osaapplication.model.ProductType).values()}"
                        th:value="${type.name()}"
                        th:text="${type.name()}"></option>
            </select>

            <label for="quantity">Quantity: </label>
            <input id="quantity" type="number" step="1" value="100" th:field="*{quantity}">
            <p th:if="${#fields.hasErrors('quantity')}"
               th:text="${#fields.errors('quantity')}"></p>

            <button type="submit">Add product</button>
            </fieldset>
    </form>
</div>

<h1>Products</h1>

<div th:each="product : ${products}">
    <p th:text="'Title: ' + ${product.getTitle()}"></p>
    <p th:text="'Description: ' + ${product.getDescription()}"></p>

    <img style="max-width: 100px" th:unless="${#lists.isEmpty(product.getImage())}" th:src="@{/products/details/{title}/image (title=${product.title})}" />
    <a th:href="@{/products/details/{title} (title=${product.title})}">More details</a>

</div>


</div>
</body>
</html>