<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <div th:replace="fragments::header"></div>
    <!--    <meta charset="utf-8">-->
    <!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!--    <title>Kamil's Online Bookstore</title>-->
    <!--    &lt;!&ndash;    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>&ndash;&gt;-->
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

    <script> function addProduct() {
        let popupProduct = document.querySelector('.addProduct');
        popupProduct.classList.toggle('activ')
    }</script>
    <style>
        .addProduct {
            visibility: hidden;
        }

        .addProduct.activ {
            visibility: visible;
            opacity: 1;
            transition: 0.5s;
        }
    </style>
</head>

<body>
<!--<div th:fragment="fragment" th:remove="tag"></div>-->
<div th:insert="fragments::navbar"></div>

<!--<form class="nav navbar-nav navbar-right">-->
<!--    <li sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{users/sign-up}"><span-->
<!--            class="glyphicon glyphicon-user"></span> Sign Up </a></li>-->
<!--    <li sec:authorize="isAnonymous()"><a class="nav-link" th:href="@{/login}"><span-->
<!--            class="glyphicon glyphicon-log-in"></span> Log In</a></li>-->
<!--    <li sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/user}"><span-->
<!--            class="glyphicon glyphicon-user"></span> Hello, <span-->
<!--            sec:authentication="name">Bob</span>! </a>-->
<!--    </li>-->

<!--    <form th:action="@{/logout}" method="post">-->
<!--        <li sec:authorize="isAuthenticated()"><a class="nav-link" th:href="@{/products}">Log out</a>-->
<!--        </li>-->
<!--    </form>-->
<!--</form>-->
</ul>
<div class="col">
    <div class="row">

        <div class="col-12 col-md-6 col-lg-4" th:each="product : ${products}">

            <div class="card">
                <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" style="max-height: 40vh"
                     th:unless="${#lists.isEmpty(product.getImage())}"
                     th:src="@{/products/details/{title}/image (title=${product.title})}" alt="Card image cap"/>
                <div class="card-body">
                    <h4 class="card-title"><a th:href="@{/products/details/{title} (title=${product.title})}"
                                              title="View Product"
                                              th:text="${product.getTitle()}"></a></h4>
                    <h6 class="card-text" th:text="${product.getAuthor().getName()}"></h6>
                    <p class="card-text" th:text="${product.getDescription()}"></p>
                    <div class="col">
                        <div class="col">
                            <p class="btn btn-danger btn-block" th:text="${product.getPrice()}"> PLN</p>
                        </div>
<!--                     <div class="col">-->
<!--                            <a href="#" class="btn btn-success btn-block">Add to cart</a>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <button onClick=addProduct()>Add product</button>
</div>

<div class="addProduct">
    <form th:action="@{/products/addProduct}" method="POST" enctype="multipart/form-data" th:object="${productForm}">
        <hi>Sign up</hi>
        <fieldset>
            <label for="title">Title: </label>
            <input id="title" type="text" th:field="*{title}">
            <p th:if="${#fields.hasErrors('title')}"
               th:text="${#fields.errors('title')}"></p>


            <label for="description">Description: </label>
            <input id="description" type="text" th:field="*{description}">
            <p th:if="${#fields.hasErrors('description')}"
               th:text="${#fields.errors('description')}"></p>

            <label for="price">Price: </label>
            <input id="price" type="text" th:field="*{price}">
            <p th:if="${#fields.hasErrors('price')}"
               th:text="${#fields.errors('price')}"></p>


            <label for="image">Image: </label>
            <input id="image" type="file" name="image" th:field="*{image}"/>
            <p th:if="${#fields.hasErrors('image')}"
               th:text="${#fields.errors('image')}"></p>


            <label for="author">Pick an author :</label>
            <select id="author" name="author" th:type="text" th:field="*{authorName}">
                <option value="">Select author</option>
                <option th:each="author : ${authors}"
                        th:text="${author.name}"
                        th:value="${author.name}"></option>
            </select>


            <label for="type">Pick type :</label>
            <select id="type" name="productType">
                <option value="">Select type</option>
                <option th:each="type:${T(pl.osa.osaapplication.model.ProductType).values()}"
                        th:value="${type.name()}"
                        th:text="${type.name()}"></option>
            </select>

            <label for="quantity">Quantity: </label>
            <input id="quantity" type="number" step="1" value="100" th:field="*{quantity}">
            <p th:if="${#fields.hasErrors('quantity')}"
               th:text="${#fields.errors('quantity')}"></p>

            <button type="submit">Add product</button>
        </fieldset>
    </form>
</div>

<!--<div class="container">-->
<!--    <div class="product" th:each="product : ${products}">-->

<!--        <img class="image" th:unless="${#lists.isEmpty(product.getImage())}"-->
<!--             th:src="@{/products/details/{title}/image (title=${product.title})}"/>-->
<!--        <a class="title" th:text="${product.getTitle()}"></a>-->

<!--        <p class="price" th:text="${product.getPrice()}"></p>-->
<!--        <a href="#" class="adtocart">-->
<!--        </a>-->

<!--        <div class="button-container">-->
<!--            <a style="margin-bottom: 10px" class="button" th:text="${product.getTitle()}"></a>-->

<!--            <p class="button" th:text="${product.getPrice()}"></p>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->

<div th:insert="fragments::footer"></div>
</body>


</html>